---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPostLayout from "../../components/layout/blog-post-layout.astro";
import TableOfContents from "../../components/blog/table-of-contents.astro";
import Feedback from "../../components/blog/feedback";

export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  });

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"post">;

const post = Astro.props;

const {
  title,
  description,
  pubDate,
  updatedDate,
  image,
  category,
  tags,
} = post.data;

const { Content, headings } = await post.render();
---

<BlogPostLayout
  {title}
  {description}
  {pubDate}
  {updatedDate}
  {image}
  {category}
  {tags}
>
  <article class="flex gap-5 items-start w-full h-full">
    <div class="lg:w-[65%] w-full lg:mr-10">
      <Content />
    </div>

    <aside class="hidden lg:flex flex-col z-1 sticky top-4">
      <TableOfContents {headings} client:load />
      <!-- <TableOfContents {headings} /> -->
    </aside>
  </article>
</BlogPostLayout>