---
import BaseLayout from '../../layouts/DefaultLayout.astro'
import Card from '../../components/Card2.astro'
import { getCollection } from 'astro:content'
import { IMG_ASSETS_BASE_PATH } from "../../config.ts"; 
export async function getStaticPaths() {
  const allPosts = await getCollection('posts')
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout pageTitle={tag}>
  <div class="container">

    <h3 class="mx-auto flex justify-center mb-5 py-3">Posts tagged with {tag}</h3>

    <div class="flex justify-center">
      {
        posts.map((post) => (
          <Card
            url={'/posts/' + post.slug}
            title={post.data.title}
            desc={post.data.description}
            imageSrc={IMG_ASSETS_BASE_PATH + post.data.image}
            target="_self"
            badge={post.data.badge}
            pub_date={post.data.pubDate.toDateString()}
            tags={post.data.tags}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
