---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/DefaultLayout.astro";
import { IMG_ASSETS_BASE_PATH } from "../config";
import BlogPost from "../components/BlogPost.astro";
import Card from "../components/Card2.astro";
const pageTitle = "Richards Blog";

const allposts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

//const posts = allposts.slice(0,14);

---

<BaseLayout pageTitle={pageTitle}>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-2 justify-stretch first-letter:auto-rows-max px-10 auto-cols-max mt-10">

    {
      allposts.map((post) => (
        <div>
        <Card 
          title={post.data.title}
          desc={post.data.description}
          imageSrc={IMG_ASSETS_BASE_PATH + post.data.image}
          url={'/posts/' + post.slug}
          target="_self"
          badge={post.data.badge}
          pub_date={post.data.pubDate.toDateString()}
          tags={post.data.tags}
        />
      </div>
      ))
    }

  </div>
</BaseLayout>
